/* src/Views/HomePage.css */
.cafe-homepage {
    height: 100%;
    text-align: center;
    padding: 0x;
    max-width: 1700px;
    margin: 0 auto;
    background: #ffffff;
  background-attachment: fixed; /* keeps gradient stable while scrolling */
}